body { 
    background-color: rgb(86, 152, 238);
}

.meio {
    justify-content: center;
    display:flex;
    align-items: center;
}

h1 {
    justify-content: center;
    display:grid;
    align-items: center;
}



